<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('vendor/uikit/css/uikit.min.css') }}">

        {% block stylesheets %}
        {% endblock %}

        <script src="{{ asset('vendor/uikit/js/uikit.js') }}"></script>
        <script src="{{ asset('vendor/uikit/js/uikit-icons.js') }}"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
    {% include 'footer.html.twig' %}
    </body>
</html>
